/* Base Elements */

body{
	background-color: #f0f3f4;
}

.navbar{
	margin-bottom: 0;
}
.loginForm ul{
	margin-top: 8px;
}
.loginForm ul li{
	display:inline;
	margin-left: 10px;
}
.loginForm .form-control, .loginForm .btn{
	width:auto;
	max-width: 150px;
}

.wasteInfo{
	display: inline-block;
	margin-left:4px;
	margin-top: 6px;
	vertical-align: top;
}
.wasteAll{
	margin-top:15px;
	background-color:white;
}
.userInfo{
	background-color: white;
	height:201px;
	overflow:scroll;
}
.userImage{
	text-align: center;
}
.userImageBackground{
	background-color: white;
}
.usernameBackground{
	background-color: white;
	text-align: center;
}
.userFollowersHeaderBackground{
	background-color: white;
	text-align: center;
}
.userFollowersBackground{
	background-color: white;	
	text-align: center;
	float:left;
	width:360px;
}
.followerWhole{
	padding:0;
	display: inline-block;
	height:100px;
	margin-bottom:9px;
	position:relative;
}
.followerWhole img{
	max-width:93%;
	height:100%;
}
.wasteImage{
	display:inline-block;
	width:40px;
	margin-top: 10px;
	margin-left: 10px;
}
.wasteImage img{
	max-width:100%;
}

.followerUsername{
	position:absolute;
	top:81px;
	color:white;
	font-size: 13px;
	width:100%;
	text-align: center;
}
.wasteUsername{
	color:#365899;
	font-weight: 700;
}
.wasteDate{
	font-size: 11px;
}
.wasteContent{
	margin-top:6px;
	margin-left:8px;
	font-size: 14px;
}
.mainUserImage{
	display:inline-block;
	width:40px;
	margin-top: 10px;
	margin-left:10px;
}
.mainUserImage img{
	max-width:100%;
}
.mainUserInfo{
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.mainWaste{
	background-color: white;
	margin-bottom:20px;
	padding-bottom: 7px;
}
.mainContainer{
	margin-top:20px;
}
.mainUsername{
	color:#365899;
	font-weight: 700;
}
.mainUserDate{
	font-size: 11px;
}
.mainUserContent{
	margin-top: 10px;
	margin-left: 10px;
}
.statusUpdateSection{
	height:104px;
	margin-bottom: 20px;
	position: relative;
	background-color:white;
}
.statusUpdateText{
	padding-left:70px;
	height:70px;
	width:100%;
}
.statusUpdate img{
	height:40px;
	width:40px;
	position:absolute;
	top:12px;
	left:12px;

}
.statusUpdateButton{
	float:right;
}
.logoutButton, .editProfileButton{
  cursor: pointer;
  margin-top:15px;
}

.followEmail{
	float:left;
}
.followButton{
	float:left;
	cursor:pointer;
	margin-left:5px;
}
.rightSidebar ul li{
	list-style-type: none;
}
.rightSidebar ul{
	padding-left:0;
}
.followUsersTitle{
	float:left;
	font-weight:700;
	font-size:22px;
}
.followUser{
	height:34px;
}
.followerSection{
	margin-top:18px;
}
.errorMessage{
  background-color:red;
  color:white;
  text-align:center;
  font-size:18px;
  padding-top:5px;
  padding-bottom:5px;
}
.loginButton{
	margin-top:5px;
}