<div class="col-sm-10 col-sm-offset-1">
    
    
    <div class="row mainContainer">
        <div class="middleSection col-md-9">
            <div class="row">
                <div class="statusUpdateSection">

                    <form class="statusUpdate">
                        <textarea ng-model="newWaste" class="statusUpdateText" placeholder="What's on your mind?" ></textarea>
                        <img ng-src="{{userImage}}">
                        <input type="button" class="btn btn-primary statusUpdateButton" ng-click="updateStatus()" value="Post" />
                    </form>
                </div>
            </div>

            <div class="row">
                <div> 
                    <a ng-if="incomingWastes.length > 0" ng-click="setNewWastes()">There are {{difference}} new wastes</a>
                </div>
                <div ng-repeat="waste in wastes">
                    <div class="mainWaste">
                        <div class="mainUserImage">
                            <a href="/#/profile/{{waste.userId._id}}"><img ng-src="{{waste.userId.image}}"></a>
                        </div>    
                        <div class="mainUserInfo">
                            <div class="mainUsername">
                                <a href="#/profile/{{waste.userId._id}}">{{waste.userId.username}}</a>
                            </div>

                            <div class="mainUserDate">
                                {{waste.date | date: 'MMM dd hh:mm'}}<br>
                            </div>
                        </div>
                        <div class="mainUserContent">
                            {{waste.content}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mainFollowerSection col-md-3">
            <rightsidebar></rightsidebar>
        </div>
    </div>
</div>